body {
	background: url(../images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.btn-royal {
	border-color: #6b46e5;
    background-color: #886aea;
    color: white;
}

.lane-texture {
	background: url(../images/lanetext.png) no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100%;
}

/* Card Template Styles */
.card-attacked {

  z-index: 10;
  position: absolute;
  width: 280px;
  left: 8px;
}

.victory-banner{
  position: absolute;
  width:1000px;
  margin-left:calc(50% - 500px);
  top: calc(50% - 325px);
  z-index: 999;
}

.card {
    display: inline-block;
    width: 300px;
    height: 450px;
    z-index: 2;
    position: absolute;
}

.card-champion-image {
    z-index: -2;
    position: absolute;
    width: 280px;
    left: 8px;
}

.card-champion-name {
  z-index: 3;
  position: absolute;
  margin-left: 20px;
}

.card-champion-ability-info {
  z-index: 3;
  position: absolute;
  margin-left: 20px;
  top: 268px;
  color: white;
  font-size: 16px;
}

.card-champion-stats {
    z-index: 3;
    position: absolute;
    margin-left: 80px;
    top: 400px;
    font-size: 20pt;
    width: 140px;
    color: white;
}

.card-button-row {
    z-index: 1;
    position: absolute;
    top: 445px;
    width: 300px;
    padding: 10px 0px;
    background-color: black;
    text-align: center;
}




.card div {
	
}

.card div p {
	
}
/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

.ng-enter           { animation: scaleUp 0.5s both ease-in; z-index: 8888; }
.ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }
